.slide-menu-bg {
  width: calc(100% + 40px);
  margin-left: -20px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1999;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0s 0.3s, opacity 0.3s linear;
}

.slide-menu {
  transform: translateX(100%);
  transition: transform 0.5s;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 2000;

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: 20px auto 0;

    & > img {
      height: auto;
      width: 70px;
    }
  }

  &__name {
    font-size: $fs-md-2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: $col-black;

    &::first-letter {
      color: $col-red;
    }
  }

  &__mail {
    font-family: Arial, sans-serif;
    font-size: $fs-sm-3;
    color: $col-gray;
    text-align: center;
    margin-top: 5px;
  }

  &__menu {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: $fs-sm-3;
    color: $col-black;
    text-align: center;
  }

  &__menu-item {
    line-height: 40px;
    font-weight: 600;
    margin: 0 40px;

    &:not(:last-child) {
      border-bottom: solid 1px #dedede;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    width: 15px;
  }
}
#menu-buton-chb {
  display: none;
}
#menu-buton-chb:checked ~ .slide-menu-bg {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0s, opacity 0.3s linear;
}

#menu-buton-chb:checked ~ .slide-menu {
  transform: translateX(0);
}
