<input type="checkbox" id="menu-buton-chb">
<label for="menu-buton-chb" class="slide-menu-bg">
</label>

<div class="slide-menu">
    <label for="menu-buton-chb" class="slide-menu__close icon icon_cross"></label>
    <div class="slide-munu__person-box">
        <div class="slide-menu__photo">
            <img src="src/img/avatar.jpg" alt="Аватар">
        </div>
        <div class="slide-menu__name">
           | Геннадий Геннадьевич
        </div>
        <div class="slide-menu__mail">
           | gennadij@yandex.ru
        </div>
    </div>
    <div class="slide-menu__menu">
        <div class="slide-menu__menu-item">Сводка</div>
        <div class="slide-menu__menu-item">Устройства</div>
        <div class="slide-menu__menu-item">Сценарии</div>
        <li class="slide-menu__menu-item">
            <a href="/cameras">Видеонаблюдение</a>
        </li>
    </div>
</div>
