.camerasVideo {
  //   display: none;
  width: 100%;
  //   height: 100%;
  height: auto;
  transition: all 1s;
}

.videoBox__item {
  height: min-content;
  overflow: hidden;
}

.videosBox {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: min-content;
  grid-gap: 50px;
  justify-content: center;
}

.canvasVideo {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.absolute-positioned-video {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 80% !important;
  height: auto !important;
  z-index: 100;
  & .videoControllers {
    display: grid !important;
  }
}

.volumeIndicator {
  background: rgba(43, 22, 233, 0.596);
  width: 20px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.video-popup-box {
  position: relative;
  transition: all 1s;
}

.one-more-video-box {
  transition: all 1s;
}

.videoControllers {
  background: gray;
  padding: 10px;
  display: grid;
  //   justify-content: end;
  display: none;
  grid-template-columns: min-content auto repeat(4, min-content);
  align-items: center;
  &__text {
    font: 18px Arial, sans-serif;
    color: white;
    padding: 0 10px;
    display: block;
  }
  &__cont {
    grid-column: 3;
  }
}

.bestvideoBoxEver {
  position: relative;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  filter: blur(1.5);
  display: none;
  opacity: 0;
  transition: opacity 1s;
  z-index: 10;
}

@media screen and (max-width: 760px) {
  .videosBox {
    grid-template-columns: 80%;
    grid-gap: 20px;
  }

  .videoControllers {
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
  .videoControllers__bright {
    grid-area: 2/1;
  }
  .brightnessController {
    grid-area: 3/1;
  }
  .videoControllers__cont {
    grid-area: 4/1;
  }
  .contrastController {
    grid-area: 5/1;
  }
}
