// break points
// $bp-
$bp-one: 780px;
$bp-two: 580px;

// Цвета
// $col-
$col-gray-item: #fafafa;
$col-gray-itemHover: #f3f3f3;
$col-gray-btnNo: #e5e5e5;
$col-yellow-btnYes: #ffd93e;
$col-black-fontMain: #333333;


$col-black: #333;
$col-gray: #858585;
$col-yellow: #ffd93e;
$col-yellow_hover: #fad32b;
$col-yellow_active: #fecb2f;
$col-white_hover: #fcfcfc;
$col-white_active: #f0f0f0;
$col-gray-light: #e5e5e5; 
$col-gray-light_active: #d0cece; 
$col-gray-light_hover: #d0cece; 
$col-red: #ee2b2b;
$col-gray-light-2: #f7f7f7;

// Шрифты
// $fs-
$fs-sm-1: 12px;
$fs-sm-2: 13px;
$fs-sm-3: 14px;
$fs-md-1: 16px;
$fs-md-2: 18px;
$fs-bg-1: 36px;
$fs-bg-2: 66px;