// break points
$bp-main-top-box-1: 900px;
$bp-popup: 700px;
$bp-mobile: 700px;
$bp-scenarios-toRight: 900px;

// Перенос скролла в hello-box вправо
$bp-hello-box-toRight-1: 620px;
$bp-hello-box-toRight-2: 1030px;
$bp-hello-box-toRight-3:  1250px;
$bp-hello-box-toBottom-1:  899px;
$bp-hello-box-toBottom-2:  1199px;

// Смeна типа кнопок для фильтра устройств
$bp-change-filter-btn: 900px;

$main-mobile-padding: 20px;

// Цвета
$col-black: #333;
$col-gray: #858585;
$col-yellow: #ffd93e;
$col-yellow_hover: #fad32b;
$col-yellow_active: #fecb2f;
$col-white_hover: #fcfcfc;
$col-white_active: #f0f0f0;
$col-gray-light: #f2f1f0; 
$col-gray-light_active: #ecebea; 
$col-gray-light_hover: #ecebea; 
$col-red: #ee2b2b;
$col-gray-light-2: #f7f7f7; 

// Шрифты
$fs-sm-1: 12px;
$fs-sm-2: 13px;
$fs-sm-3: 14px;
$fs-md-1: 16px;
$fs-md-2: 18px;
$fs-bg-1: 36px;
$fs-bg-2: 66px;

