//- Значения передеем просто для того, что бы при необходимости удобее переключиться на полноценное решение для построения графиков
mixin graph(values)
  .itemGraph
    img(class="itemGraph__img" src="src/img/graph/Richdata@1x.png")
