<div class="header">
    <div class="icon header__logo"></div>
    <ul class="header__menu">
        <li class="header__menu-item header__menu-item_active">
            <a href="">События</a>
        </li>
        <li class="header__menu-item">
            <a href="">Сводка</a>
        </li>
        <li class="header__menu-item">
            <a href="">Устройства</a>
        </li>
        <li class="header__menu-item">
            <a href="">Сценарии</a>
        </li>
        <li class="header__menu-item">
            <a href="/cameras">Видеонаблюдение</a>
        </li>
    </ul>
    <label for="menu-buton-chb" class="icon icon_hamburger header__menu-button"></label>
</div>