.itemImage {
  border-radius: 16px;
  overflow: hidden;
  &__img {
    width: 100%;
    height: 75vw;
    max-height: 400px;
    background:  url("/src/img/image.jpg");
    background-size: 120%;
    touch-action: none;
  }
}
