.footer {
  font-family: Arial, sans-serif;
  font-size: $fs-sm-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

  &__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  &__menu-item {
    &:not(:first-child) {
      margin-left: 15px;
      white-space: nowrap;
      line-height: 1.3;
    }

    & a {
      text-decoration: none;
      color: $col-gray;
    }
  }

  &__copy {
    color: $col-gray;
    white-space: nowrap;
    margin-top: 10px;
  }
}


@media screen and (min-width: $bp-one) {
  .footer {
    flex-direction: row;
  }
}
