doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta( name='robots' content='noindex')
body
  - const eventsList = require("./events.json")

  include ./components/header/header.pug
  .mainContainer
    .mainContainer__header Лента событий
    include ./components/elementsBox/elementsBox.pug
  include ./components/footer/footer.pug 
  include ./components/mobileMenu/mobileMenu.pug 
  script(src="/src/js/pep.js")

